<div class="w-full bg-black text-white text-[10px] md:text-xs py-2 border-b border-gray-800 tracking-wider font-medium z-50">
  <div class="w-full px-4 sm:px-6 lg:px-8 flex justify-between items-center">
    <div id="topbar-datetime" class=" text-gray-400"></div>
    <div class="flex items-center space-x-6">
      <a href="#" class="text-gray-300 hover:text-brand transition-colors"><iconify-icon icon="mdi:facebook" class="text-lg  "></iconify-icon></a>
      <a href="#" class="text-gray-300 hover:text-brand transition-colors"><iconify-icon icon="mdi:twitter" class=" text-lg "></iconify-icon></a>
      <a href="#" class="text-gray-300 hover:text-brand transition-colors"><iconify-icon icon="mdi:instagram" class=" text-lg"></iconify-icon></a>
    </div>
  </div>
</div>
